/*css Reset*/
body, header, nav, footer, main, h1, div, img
{
	margin:0;
	padding: 0;
	border:0;
}

body
{
	background-color: ghostWhite;
}

header
{
	font-size: 2em;
	background-color: black;
	text-align: center;
	font-family: Lucida Handwriting, verdana, serif;
	color: ghostWhite;
}
nav
{
	background-color: GhostWhite;
}
nav ul
{
	list-style: none;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}
nav li
{
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
nav li a
{
	background: black;
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
	margin: 1em;
	border: solid;
	border-color: white;
	border-radius: 40px;
}
nav li a:hover 
{
    filter: invert(1);
}
.amap
{
	border-width: 0px;
	border-color: black;
	border-radius: 40px;
}
main
{
	clear: both;
	background-color: ghostwhite;
	margin: 8%;
	font-size:1.25em;
}
footer 
{
    position: relative; 
    background-color: black;
    color: ghostWhite;
    text-align: center;
    padding: 1em; 
}

footer p 
{
    font-size: 1em; 
    margin: 0; 
    padding: 0.5em 0; 
}

footer p a 
{
    color: ghostWhite;
	text-align: center;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}
