/*css Reset*/
body, header, nav, footer, main, h1, div, img
{
	margin:0;
	padding: 0;
	border:0;
}

body
{
	background-color: ghostWhite;
}

body h2 
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body h3
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
	font-size: 2em;
	background-color: black;
	text-align: center;
	font-family: Lucida Handwriting, verdana, serif;
	color: ghostWhite;
}
nav
{
	top: 0;
	position: -webkit-sticky;
	position: sticky;
	backdrop-filter: blur(40px);
	background-color: rgba(0, 0, 0, 0.219);
	padding-bottom: 0em;
}
nav ul
{
	list-style: none;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}
nav li
{
	display: inline-block;
	font-size: 1.25em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
nav li a
{
	background: black;
	display: block;
	color: white;
	text-align: center;
	padding: 0.5em 1em;
	text-decoration: none;
	margin: 0.5em;
	border-radius: 100px;
}
nav li a:hover 
{
    filter: invert(1);
}

.amap {
    border-width: 0px;
    border-color: black;
    border-radius: 40px;
    max-width: 100%;
    width: 500px;  
    height: 500px; 
}
main
{
	clear: both;
	background-color: ghostwhite;
	margin: 8%;
	font-size:1.25em;
}


#assignments
{
	font-size: 1.25em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

#assignments li a
{
	color: black;
	text-decoration: none;
}

footer 
{
	position: -webkit-sticky;
    position: sticky; 
    background-color: rgba(0, 0, 0, 0.2);
    color: ghostWhite;
    text-align: center;
    padding: 0em; 
	bottom: 0;
	backdrop-filter: blur(40px);
	border-radius: t;
}

footer p 
{
    font-size: 1em; 
    margin: 0; 
    padding: 0.5em 0; 
}

footer p a 
{
    color: white;
	text-align: center;
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

/*index/home----------------------*/









/*About me----------------------- */











/*projects----------------------- */
#assignments 
{
	font-size: 1.5em;
	list-style: none;
	font-weight: 600;
}
#assignments li a:hover
{
	padding-left: 1em;
	padding-right:1em;
	border-radius:100px;
	color:hwb(227 45% 49%);
	font-weight: 200;
	border: solid;
	margin-left: 0.5em;
}









/*contacts------------------------*/












/*Favorites-----------------------*/
.fav-images
{
	max-width: fit-content;
	width: 100%;
	height: 100%;
	border-width: 10px;
	border-radius: 40px;
}

/*Hobbies-------------------------*/
