
/* 
Name: Lee Campos
File Name: styles.css
Date: 9/11/2024
*/

/*css Reset*/
body, header, nav, footer, main, h1, h2, h3, div, img
{
	margin:0;
	padding: 0;
	border:0;
}
/*style rule for body and image*/

body
{
	background-color: #e3eaf8;
}

img
{
	width: 100%;
	display: block;
}
/*Style rule for header content*/
h1
{
	text-align: center;
	font-size: 3em;
	font-family: Georgia, Times, serif;
	padding: 3%;
	color: #101a2d;
}
/*style rules for navigation area*/
nav
{
	background-color: #1d396d;
	
}

nav ul
{
	list-style: none;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	text-align: center;
}

nav li
{
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

nav li a
{
	display: block;
	color: #e3eaf8;
	padding: 0.5em 2em 0.5em 2em;
	text-decoration: none;
}
/*Style rules for main content*/
main
{
	padding: 2%;
	font-family: Geneva, Arial, sans-serif;
	overflow: auto;
}
#image
{
	width: 45%;
	float: left;
	padding: 1%;
}

main p
{
	font-size: 1.25em;
}

main h3
{
	padding-top: 2%;
	font-size: 2em;
}

.external
{
	color: #1d396d;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}	
/* style rules for footer content*/
footer
{
	text-align: center;
	font-size: 0.85em;
	background-color: #1d396d;
	color: #e3eaf8;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 0%;
	padding-right: 0%;
	text-decoration: none;
}
footer p
{
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}
footer p a
{
	color:#fff;
	text-decoration: none;
}







